build/bin
node_modules
frontend/dist

# Database uitsluiten (alle .db en .sqlite bestanden)
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Tijdelijke mappen en media
/Nieuwe map/
/build/
/portable_magick/

# Afbeeldingen en video's
*.HEIC
*.heic
*.MOV
*.mov
*.mp4
*.exe
*.dll